.time .slot {
  height: 140px; }
  .time .slot .list .list-item {
    font-weight: bold;
    text-align: right; }
.time .slot:first-child {
  border-right: 2px solid #878787; }
  .time .slot:first-child .list .list-item {
    text-align: right; }

.date-time {
  height: 140px; }
  .date-time .time-slot {
    border-right: 4px solid #878787; }
  .date-time .time, .date-time .time-slot {
    float: left; }

.time-slot .slot {
  height: 140px; }
.time-slot .slot:first-child {
  border-right: 2px solid #878787; }
.time-slot .slot:last-child {
  border-left: 2px solid #878787; }
.time-slot .list .list-item {
  font-weight: bold;
  text-align: right; }

.date {
  width: 200px; }
  .date .title {
    font-size: 14px;
    font-weight: bold; }
  .date .next, .date .prev, .date .title {
    float: left; }
  .date .next {
    background-image: url(images/control_fastforward_blue.png); }
  .date .prev {
    background-image: url(images/control_rewind_blue.png); }
  .date .next, .date .prev {
    margin: 5px;
    cursor: pointer; }
  .date .title {
    width: 148px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px; }
  .date table {
    margin-bottom: 5px; }
    .date table th {
      font-size: 12px;
      border-bottom: 1px solid #cccccc; }
    .date table td {
      width: 20px;
      font-size: 12px;
      padding: 5px;
      text-align: center;
      cursor: pointer; }

.picked {
  background-image: -moz-linear-gradient(100% 100% 90deg, #6f95db, #85a7ea);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#85a7ea), to(#6f95db));
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
