@import _mixins.sass

textarea
  :padding 5px

code
  :display block
  :padding 10px
  :font-family  Serif
  :font-size 14px
  :background-color #FFFFFF
  :line-height 20px
  :letter-spacing 1px
  +round_full(5px)
  :margin-top 10px
  :-webkit-transition-duration 0.3s
  :border 1px solid transparent
code:hover
  +box_shadow(0,0,10px, rgba(0,0,0,0.2))
  :border 1px solid #bbb
  
p
  :font-size 12px
  :margin-bottom 10px
  :line-height 18px
  :letter-spacing 1px
h1
  :font-size 20px
  :margin-bottom 20px
h2
  :margin-bottom 10px
  :margin-top 15px
.h_menu_icon
  :width 30px
  :height 30px
  :background
    :position center
    :repeat no-repeat
  :background-color #eee
  +round_full(5px)
  :margin 5px
  :cursor pointer
 
#tabs
  :position fixed
  :top 0
  :z-index 10

.panel
  :color #333
  :-webkit-transition-duration 1s
  :position absolute
  :top 0
  :left 0
  :right 0
  :padding 20px
  :margin-top 70px
  :background-color #E5E6E8
  +round_full(5px)
  +box_shadow(0,3px,1px, rgba(0,0,0,0.2))

#about, #basic, #forms, #pickers, #floats
  :opacity 0
.container_12
  :position relative
body
  :background-color #828B99
