@import url(http://fonts.googleapis.com/css?family=Ubuntu:regular,bold,italic);
body {
  font-family: Ubuntu; }

.clear {
  clear: both; }

.demo {
  float: left;
  width: 500px; }

a {
  color: #eeeeee;
  text-decoration: none; }

.code {
  float: left;
  color: #333333;
  border-left: 1px dashed #bbbbbb; }
  .code * {
    padding-left: 20px; }
  .code h1 {
    font-size: 16px;
    margin-top: 10px;
    font-weight: normal;
    margin-bottom: 10px; }
  .code pre {
    font-size: 14px; }

.header {
  padding: 10px;
  background-color: #333333;
  color: #eeeeee;
  border-bottom: 3px solid #aaaaaa;
  margin-bottom: 10px; }
  .header h1 {
    font-size: 16px;
    font-weight: normal;
    color: white; }
  .header h2 {
    font-size: 14px;
    font-weight: normal; }
  .header h1, .header h2, .header ul li {
    float: left; }
  .header ul {
    float: right; }
    .header ul li {
      font-size: 12px;
      margin-left: 10px;
      letter-spacing: 1px; }
