.blender-layout {
  background-color: #555555;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0; }

.blender-toolbar {
  background-color: #888888;
  z-index: 10; }

.blender-view {
  position: absolute;
  min-height: 30px;
  min-width: 30px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #727272;
  border-top: 1px solid #888888;
  overflow: hidden; }
  .blender-view .blender-toolbar {
    position: absolute;
    height: 30px;
    right: 0;
    left: 0;
    bottom: 0; }
  .blender-view .content {
    width: 100%;
    height: 100%; }
  .blender-view .slider {
    position: absolute !important;
    top: 10px;
    right: 0;
    z-index: 11; }
  .blender-view .topleft {
    cursor: crosshair;
    z-index: 99;
    border-top: 7px solid #666666;
    border-left: 7px solid transparent;
    border-right: 7px solid #666666;
    border-bottom: 7px solid transparent;
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0; }
  .blender-view .bottomleft {
    z-index: 99;
    border-top: 7px solid transparent;
    border-left: 7px solid #666666;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #666666;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0; }

.picker .color .number, .picker .color .pushgroup {
  box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0; }

.color {
  color: #123457;
  width: 200px;
  min-width: 85px;
  margin: 5px;
  padding: 10px; }
  .color .number {
    -webkit-transition-duration: 0; }
  .color .pushgroup, .color .number {
    margin: 5px 0; }
  .color .wrapper {
    position: relative;
    margin: 10px 0; }
  .color .xyknob {
    width: 10px;
    cursor: crosshair;
    height: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4); }

.time, .date, .date-time {
  border: 1px solid #555555;
  font-size: 12px;
  margin: 5px;
  color: #666666;
  background-color: #727272;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 1px 2px #878787;
  -moz-box-shadow: 0 1px 2px #878787;
  -webkit-box-shadow: 0 1px 2px #878787;
  -webkit-user-select: none;
  height: 100px;
  margin-bottom: 10px;
  cursor: pointer; }
  .time .slot, .date .slot, .date-time .slot {
    box-shadow: 0 0 0 transparent;
    -moz-box-shadow: 0 0 0 transparent;
    -webkit-box-shadow: 0 0 0 transparent;
    border: none;
    margin: 0;
    float: left; }

.date {
  width: 135px; }
  .date .slot {
    width: 45px; }

.time {
  width: 70px; }
  .time .slot {
    width: 35px; }

.date-time {
  width: 186px; }
  .date-time .slot {
    width: 35px; }
  .date-time .slot:nth-child(3) {
    border-right: 1px solid #212121; }
  .date-time .slot:first-child {
    width: 45px; }

@import url(http://fonts.googleapis.com/css?family=Ubuntu:regular,bold,italic);
dl {
  clear: both;
  height: 30px;
  margin: 0; }

dt {
  width: 200px;
  float: left; }

dt {
  margin-top: 10px; }

dd {
  float: right;
  margin: 0;
  padding: 0;
  text-align: left; }

label {
  margin: 5px;
  font-size: 12px;
  color: #333333; }

fieldset {
  border: 1px solid #555555;
  font-size: 12px;
  margin: 5px;
  color: #666666;
  background-color: #727272;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 1px 2px #878787;
  -moz-box-shadow: 0 1px 2px #878787;
  -webkit-box-shadow: 0 1px 2px #878787;
  -webkit-user-select: none;
  margin-bottom: 10px;
  text-align: left;
  border-color: #666666; }
  fieldset legend {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    padding: 0 15px 0 15px; }

.table tr:nth-child(odd), .data-list tr:nth-child(odd) {
  background-color: #d3dced; }
.table tr:nth-child(even), .data-list tr:nth-child(even) {
  background-color: #c8cfde; }
.table tr:first-child td, .data-list tr:first-child td {
  font-weight: bold;
  background-color: #eeeeee; }
  .table tr:first-child td > input, .data-list tr:first-child td > input {
    font-weight: bold; }
.table tr td:first-child, .data-list tr td:first-child {
  border: none; }
.table tr td, .data-list tr td {
  border-left: 1px solid #999999;
  width: 60px;
  height: 20px;
  text-align: center; }
  .table tr td > input, .data-list tr td > input {
    width: inherit;
    height: inherit;
    outline: none;
    border: none !important;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
    margin: 0;
    padding: 0;
    min-width: 0;
    box-shadow: 0 0 0 transparent;
    -moz-box-shadow: 0 0 0 transparent;
    -webkit-box-shadow: 0 0 0 transparent;
    background-color: transparent; }

.slot .selected, .select .text, .pushgroup, .button:hover, .float .handle, .float .bottom, .push, .toggler .sep {
  background-image: -moz-linear-gradient(100% 100% 90deg, #373737, #535353);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#535353), to(#373737)); }

.slider.horizontal .progress {
  background-image: -moz-linear-gradient(100% 100% 90deg, #7b7b7b, #979797);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#979797), to(#7b7b7b)); }

.slider.vertical .progress {
  background-image: -moz-linear-gradient(100% 100% 0deg, #979797, #7b7b7b);
  background-image: -webkit-gradient(linear, right bottom, left bottom, from(#7b7b7b), to(#979797)); }

.slider.horizontal {
  background-image: -moz-linear-gradient(100% 100% 90deg, #5c5c5c, #565656);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#565656), to(#5c5c5c)); }

.slider.vertical {
  background-image: -moz-linear-gradient(100% 100% 0deg, #565656, #5c5c5c);
  background-image: -webkit-gradient(linear, right bottom, left bottom, from(#5c5c5c), to(#565656)); }

.number.horizontal {
  background-image: -moz-linear-gradient(100% 100% 90deg, #7b7b7b, #979797);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#979797), to(#7b7b7b)); }

.select .text:active {
  background-image: -moz-linear-gradient(100% 100% 90deg, #535353, #373737);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#373737), to(#535353)); }

.select .text:hover, .icon:hover {
  background-image: -moz-linear-gradient(100% 100% 90deg, #454545, #696969);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#696969), to(#454545)); }

.button, .icon, .number .progress {
  background-image: -moz-linear-gradient(100% 100% 90deg, #6a6a6a, #898989);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#898989), to(#6a6a6a)); }

.select-item:hover, .icon:active, .push.pushed, .button:active, .toggler .on, .toggler .off {
  background-image: -moz-linear-gradient(100% 100% 90deg, #4771b3, #638dcf);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#638dcf), to(#4771b3)); }

.select.disabled {
  cursor: auto; }

.select.disabled .text {
  background-image: -moz-linear-gradient(100% 100% 90deg, #373737, #535353) !important;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#535353), to(#373737)) !important; }

.dialog-prompt {
  background-color: #626262; }
  .dialog-prompt input {
    border: 1px solid #555555;
    font-size: 12px;
    margin: 5px;
    color: #666666;
    background-color: #727272;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 1px 2px #878787;
    -moz-box-shadow: 0 1px 2px #878787;
    -webkit-box-shadow: 0 1px 2px #878787;
    -webkit-user-select: none;
    width: 200px;
    -webkit-user-select: auto;
    background-color: #a3a3a3;
    font-family: Sans;
    font-size: 12px;
    height: 22px;
    color: #1c1c1c; }

.dialog-prompt-label {
  color: #1c1c1c;
  margin-left: 7px;
  margin-bottom: 2px;
  margin-top: 7px;
  font-size: 12px; }

.button.disabled, .icon.disabled, .icon.supressed {
  background-image: -moz-linear-gradient(100% 100% 90deg, #6a6a6a, #898989) !important;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#898989), to(#6a6a6a)) !important; }

.button.disabled {
  color: #212121 !important; }

.slot, textarea, input[type=text], .select, .icon, .pushgroup, .push, .toggler, .button, .number, .slider, .unit-pick, .dialog-prompt {
  border: 1px solid #555555;
  font-size: 12px;
  margin: 5px;
  color: #666666;
  background-color: #727272;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 1px 2px #878787;
  -moz-box-shadow: 0 1px 2px #878787;
  -webkit-box-shadow: 0 1px 2px #878787;
  -webkit-user-select: none; }

.picker > div:first-child {
  box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  -webkit-box-shadow: 0 0 0 transparent;
  margin-bottom: 5px; }

.unit-pick .select, .select .icon, .pushgroup .push {
  margin: 0;
  border: none;
  box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  -webkit-box-shadow: 0 0 0 transparent; }

.button {
  overflow: hidden;
  white-space: nowrap;
  width: 200px;
  min-width: 85px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
  color: #212121; }
  .button:hover {
    color: #eeeeee; }

.slot {
  height: 100px;
  width: 40px; }
  .slot .list {
    -webkit-transition-duration: 0.3s; }
    .slot .list .list-item {
      color: #555555; }
  .slot .selected {
    border-top: 1px solid #212121;
    border-bottom: 1px solid #212121;
    color: #f5f5f5 !important;
    background-color: #333333; }

.list-item {
  padding: 5px;
  text-align: center; }

textarea, input[type=text] {
  min-width: 85px;
  width: 200px;
  background-color: #a3a3a3;
  font-family: Sans;
  font-size: 12px;
  padding: 6px;
  color: #1c1c1c;
  resize: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: auto; }

.overlay {
  background-color: rgba(0, 0, 0, 0.6); }

.unit-pick {
  width: 200px;
  min-width: 170px;
  height: 20px; }
  .unit-pick .number, .unit-pick .select {
    float: left; }
  .unit-pick .number {
    margin: 0;
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -khtml-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    box-shadow: 0 0 0 transparent;
    -moz-box-shadow: 0 0 0 transparent;
    -webkit-box-shadow: 0 0 0 transparent; }
    .unit-pick .number .text {
      border: none; }
    .unit-pick .number .progress {
      -moz-border-radius: 5px 0 0 5px;
      -webkit-border-radius: 5px 0 0 5px;
      -khtml-border-radius: 5px 0 0 5px;
      border-radius: 5px 0 0 5px; }
  .unit-pick .select {
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    -khtml-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0; }
    .unit-pick .select .text {
      -moz-border-radius: 0 5px 5px 0;
      -webkit-border-radius: 0 5px 5px 0;
      -khtml-border-radius: 0 5px 5px 0;
      border-radius: 0 5px 5px 0; }

.tip {
  color: #f5f5f5;
  padding: 6px;
  font-size: 12px; }

.picker, .tip {
  z-index: 99;
  background-color: rgba(20, 20, 20, 0.7);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6); }

.select-list {
  margin-top: 5px; }

.select-item {
  margin: 0 1px;
  cursor: pointer;
  text-align: left;
  height: 12px;
  padding: 4px 6px;
  color: #f5f5f5;
  font-size: 12px; }
  .select-item:hover {
    color: #1c1c1c; }

.select {
  min-width: 80px;
  cursor: pointer;
  line-height: 21px;
  color: #f5f5f5;
  height: 20px;
  width: 200px;
  min-width: 85px; }
  .select:after {
    content: "";
    z-index: 1;
    position: absolute;
    top: 5px;
    left: 3px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #a3a3a3; }
  .select:before {
    content: "";
    z-index: 1;
    position: absolute;
    bottom: 5px;
    left: 3px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #a3a3a3; }
  .select .text {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    padding-left: 15px; }
  .select .icon {
    line-height: 15px;
    text-align: center;
    font-size: 22px;
    color: white;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
    float: right;
    width: 20px;
    height: 20px;
    border: none;
    border-left: 1px solid #1c1c1c; }
    .select .icon.remove {
      -moz-border-radius: 0 5px 5px 0;
      -webkit-border-radius: 0 5px 5px 0;
      -khtml-border-radius: 0 5px 5px 0;
      border-radius: 0 5px 5px 0; }

.icon {
  background-color: #898989;
  background-repeat: no-repeat;
  background-position: center center;
  width: 30px;
  height: 30px;
  cursor: pointer; }
  .icon.disabled {
    background-color: #898989 !important; }
  .icon:hover {
    background-color: #9e9e9e; }
  .icon:active {
    background-color: #696969; }

.float {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6); }
  .float .handle, .float .bottom {
    height: 20px; }
  .float .controls {
    position: absolute;
    top: 0;
    right: 0; }
  .float .icongroup {
    width: 40px !important; }
  .float .icon {
    border: none;
    box-shadow: 0 0 0 0;
    -moz-box-shadow: 0 0 0 0;
    -webkit-box-shadow: 0 0 0 0;
    margin: 0;
    float: left;
    width: 20px;
    height: 20px; }
  .float .slider {
    position: absolute !important;
    right: -20px;
    top: -6px;
    height: 100px; }

.disabled {
  opacity: 0.5; }

.pushgroup {
  width: 200px;
  min-width: 85px;
  height: 22px; }
  .pushgroup .push:first-child {
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -khtml-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px; }
  .pushgroup .push:last-child {
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    -khtml-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0; }
  .pushgroup .push:last-child {
    border-right: none; }
  .pushgroup .push {
    float: left;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0; }

.push {
  width: 200px;
  min-width: 85px;
  color: #f5f5f5;
  height: 22px;
  text-align: center;
  line-height: 22px;
  cursor: pointer; }
  .push.pushed {
    color: #1c1c1c; }

.toggler {
  width: 200px;
  min-width: 85px;
  height: 22px;
  overflow: hidden;
  cursor: pointer; }
  .toggler .on {
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -khtml-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px; }
  .toggler .off {
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    -khtml-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0; }
  .toggler .on, .toggler .off, .toggler .sep {
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    width: 50px;
    color: #1c1c1c; }
  .toggler .sep {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px; }

.number {
  border: none; }
  .number:after {
    content: "";
    z-index: 1;
    position: absolute;
    top: 6px;
    left: 5px;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 4px solid #494949; }
  .number:before {
    content: "";
    z-index: 1;
    position: absolute;
    top: 6px;
    right: 5px;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #494949; }
  .number.horizontal {
    width: 200px;
    min-width: 85px;
    height: 20px; }
  .number.vertical {
    width: 20px;
    height: 200px;
    min-height: 85px; }

.slider.horizontal {
  width: 200px;
  min-width: 85px;
  height: 11px; }
.slider.vertical {
  width: 11px;
  height: 200px;
  min-height: 85px; }

.slider, .number {
  background-color: #565656;
  cursor: move;
  overflow: hidden; }
  .slider .progress, .number .progress {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px; }
  .slider .text, .slider input, .number .text, .number input {
    color: #1c1c1c;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #555555; }
  .slider input, .number input {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5); }
