.startup.box
  .title
    G.UI
  .subtitle
    A User Interface for modern browsers.
  .subsub
    Latest version: 1.0 RC
  .border.down
  .border.git
  .download
    Download: 1.0 RC
  .github
    Source at Github
.box
  G.UI is a modular user interface framework, with CSS driven themes.
  %img{:src=>"/1299607893_utilities-file-archiver.png"}
