.box
  #box
  .clear
:javascript
  window.addEvent('domready', function(){
    icon = new Core.Icon({image:'/home.png'});
    icon1 = new Core.Icon({image:'/idea-inv.png'});
    icon2 = new Core.Icon({image:'/layers-inv.png'});    
    
    button = new Core.Button({text:"Default Button!"});
    disabledButton = new Core.Button({text:"Default Button!"}).disable();
    
    horizontalSlider = new Core.Slider();
    disabledSlider = new Core.Slider().disable();
    
    toggler = new Core.Toggler();
    disabledToggler = new Core.Toggler().disable();
    
    number = new Data.Number();
    disabledNumber = new Data.Number().disable();
    
    color = new Data.Color();
    disabledColor = new Data.Color().disable();
    
    dTime = new Data.Time();
    dDate = new Data.Date();
    dDateTime = new Data.DateTime();
    
    unit = new Data.Unit();
    
    select = new Core.Select({default:'background-break'});
    list = [' bounding-box','each-box','continuous','border-box','padding-box','content-box','no-clip']
    list.each(function(item){
      select.addItem(new Iterable.ListItem({title:item,removeable:false,draggable:false}))
    });
    
    $("box").adopt( icon,icon1,icon2, button, disabledButton, horizontalSlider, disabledSlider, toggler,disabledToggler, number, select, unit,disabledNumber,dTime,dDate,dDateTime, color );
  });
