.color {
  border: 5px solid rgba(255, 255, 255, 0.1);
  font-size: 12px;
  color: #666666;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
  background-color: white;
  -webkit-transition-duration: 0.1s;
  width: 210px;
  padding: 10px; }
  .color .number {
    -webkit-transition-duration: 0; }
  .color .wrapper {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 10px 0;
    margin-left: 5px; }
  .color #xyknob {
    width: 10px;
    cursor: crosshair;
    height: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4); }

.time, .date, .date-time {
  border: 5px solid rgba(255, 255, 255, 0.1);
  font-size: 12px;
  color: #666666;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
  background-color: white;
  -webkit-transition-duration: 0.5s;
  height: 100px;
  margin-bottom: 10px;
  cursor: pointer; }
  .time .list, .date .list, .date-time .list {
    -webkit-transition-duration: 0.3s; }
  .time .slot:first-child .selected, .date .slot:first-child .selected, .date-time .slot:first-child .selected {
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -khtml-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px; }
  .time .slot:last-child .selected, .date .slot:last-child .selected, .date-time .slot:last-child .selected {
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    -khtml-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0; }
  .time .selected, .date .selected, .date-time .selected {
    background-image: -moz-linear-gradient(100% 100% 90deg, #212121, #444444);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#444444), to(#212121));
    background-color: #333333;
    color: #eeeeee; }
  .time .slot, .date .slot, .date-time .slot {
    float: left; }

.date {
  width: 135px; }
  .date .slot {
    width: 45px; }

.time {
  width: 70px; }
  .time .slot {
    width: 35px; }

.date-time {
  width: 186px; }
  .date-time .slot {
    width: 35px; }
  .date-time .slot:nth-child(3) {
    border-right: 1px solid #eeeeee; }
  .date-time .slot:first-child {
    width: 45px; }

.slot {
  height: 100px; }

.list-item {
  padding: 5px;
  text-align: center; }

.disabled {
  opacity: 0.5; }

.pushgroup {
  border: 5px solid rgba(255, 255, 255, 0.1);
  font-size: 12px;
  color: #666666;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
  background-color: white;
  -webkit-transition-duration: 0.5s;
  height: 22px; }
  .pushgroup .push {
    width: 40px;
    background-color: #999999;
    border-right: 1px solid #cccccc;
    margin-left: -1px;
    height: 22px;
    float: left;
    text-align: center;
    line-height: 22px;
    font-weight: bold;
    cursor: pointer; }
    .pushgroup .push.pushed {
      background-image: -moz-linear-gradient(100% 100% 90deg, #212121, #444444);
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#444444), to(#212121));
      color: #eeeeee; }
  .pushgroup .push:last-child {
    border-right: none; }

.toggler {
  border: 5px solid rgba(255, 255, 255, 0.1);
  font-size: 12px;
  color: #666666;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
  background-color: white;
  -webkit-transition-duration: 0.5s;
  width: 100px;
  height: 30px;
  overflow: hidden;
  cursor: pointer; }
  .toggler .on {
    width: 50px; }
  .toggler .on, .toggler .off, .toggler .sep {
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    -webkit-transition-duration: 0.3s;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    width: 50px;
    color: #333333; }
  .toggler .sep {
    background-image: -moz-linear-gradient(100% 100% 90deg, #212121, #444444);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#444444), to(#212121)); }

.button {
  border: 5px solid rgba(255, 255, 255, 0.1);
  font-size: 12px;
  color: #666666;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
  background-color: white;
  -webkit-transition-duration: 0.1s;
  cursor: pointer;
  background-image: -moz-linear-gradient(100% 100% 90deg, #212121, #444444);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#444444), to(#212121));
  font-weight: bold;
  color: #eeeeee;
  padding: 10px; }
  .button:hover {
    background-image: -moz-linear-gradient(100% 100% 90deg, #313131, #555555);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#555555), to(#313131)); }
  .button:active {
    background-image: -moz-linear-gradient(100% 100% 90deg, #444444, #212121);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#212121), to(#444444));
    position: relative;
    top: 1px; }

.number {
  border: 5px solid rgba(255, 255, 255, 0.1);
  font-size: 12px;
  color: #666666;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
  background-color: white;
  -webkit-transition-duration: 0.5s; }
  .number.horizontal {
    width: 200px;
    height: 20px; }
  .number.vertical {
    width: 20px;
    height: 200px; }

.slider {
  border: 2px solid rgba(255, 255, 255, 0.1);
  font-size: 12px;
  color: #666666;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
  background-color: white;
  -webkit-transition-duration: 0s; }
  .slider.horizontal {
    width: 200px;
    height: 10px; }
  .slider.vertical {
    width: 10px;
    height: 200px; }

.slider, .number {
  background-color: #888888;
  cursor: move;
  overflow: hidden; }
  .slider .progress, .number .progress {
    background-image: -moz-linear-gradient(100% 100% 90deg, #212121, #444444);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#444444), to(#212121)); }
  .slider .text, .slider input, .number .text, .number input {
    text-shadow: 0 1px 1px #222222;
    color: #eeeeee;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    line-height: 20px; }
  .slider input, .number input {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5); }
