/**
 *
 * Icon Classes
 *
 * */
.icon{
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-color: #ccc;
    background-position: center;
    cursor: pointer;
    -webkit-border-radius: 15px;
    
}
.icon:hover{
    background-color: #ddd;
}
.icon:active{
    background-color: #bbb;
}
.icon.disabled{
    opacity: 0.5;
    background-color: #ccc !important;
    cursor: default;
}
/**
 *
 * Tip Classes
 *
 * */
.tip{
    background-color: #ccc;
    padding: 5px;
}
